@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?t7feeu");
  src:
    url("../fonts/icomoon.eot?t7fesdfeu#iefix") format("embedded-opentype"),
    url("../fonts/icomoon.woff2?t7feeusdf") format("woff2"),
    url("../fonts/icomoon.woff?t7fsdfeeu") format("woff"),
    url("../fonts/icomoon.svg?t7fesdfsdeu#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

[class^="icon-"],
[class*=" icon-"],
.fa-x-twitter,
.fa-x-twitter-square {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal; 
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fa-x-twitter:before {
  content: "\e909";
}
.fa-x-twitter-square:before {
  content: "\e90a";
}
.icon-2:before {
  content: "\e900";
}
.icon-1:before {
  content: "\e901";
}
.icon-3:before {
  content: "\e902";
}
.icon-4:before {
  content: "\e903";
}
.icon-5:before {
  content: "\e904";
}
.icon-6:before {
  content: "\e905";
}
.icon-7:before {
  content: "\e906";
}
.icon-8:before {
  content: "\e907";
}
.icon-9:before {
  content: "\e908";
}
.icon-17:before {
  content: "\e910";
}
.icon-18:before {
  content: "\e911";
}
